{% extends "layout.html" %}
{% block content %}
    <div class="container-narrow">
        <h1>Tag an image</h1>
        <br/>
        <form id="tagForm" class="form" method="POST" action="" role="form">
            {{ form.csrf_token }}

            <img style="width:100%; max-width:500px;" src={{ form.get_jpg_data() }} />
            <div class="form-group">
                Tags:
                {{ form.tag() }}
            </div>

            <p><input class="btn btn-default btn-submit" type="submit" value="Tag"></p>
        </form>

    </div>
{% endblock %}

