{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <h1>Tag an image</h1>
        <br/>
        <form id="tomoTagForm" class="form" method="POST" action="" role="form">
            {{ form.csrf_token }}
            <div style="display:flex;">
                <img style="width:100%; max-width:700px;" src={{ form.get_jpg_data() }}/>
                <div class="form-group" style="flex-grow:1;padding:10px;">
                    {% for qualityradio in form.qualityradios %}
                        <br/>
                        {{ qualityradio() }}
                    {% endfor %}
                </div>
            <input class="btn btn-default btn-submit" type="submit" value="Tag" style="background-color: darkgrey">
            </div>

        </form>

    </div>
{% endblock %}

